.lds-hourglass {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 30%;
    left: 50%;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #FFC107;
    border-color: #FFC107 transparent #FFC107 transparent;
    animation: lds-hourglass 1.2s infinite;
    position: absolute;
    top: 0;
    z-index: 1050;
    left: 20%;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

.loader-backdrop {
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #011046;
}

.lds-label {
    color: #FFC107;
    z-index: 1050;
    position: absolute;
    font-size: 40px;
    left: 40%;
    top: 30%;
}

@media only screen and (max-width: 767px) {
    .lds-label {
        left: 20%;
    }
    .lds-hourglass {
        left: 55%;
    }
}
